body {
  margin: 30px;
}
h1 {
  color: red;
}

.hc-logo {
  width: 88%;
}

.top-bar {
  font-size: 0.8em;
  font-weight: 500;
}

.top-bar-col {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-bar-col p {
  margin: 0;
}

/*Tablet Styling*/
@media only screen and (max-device-width: 1366px) {
}

@media only screen and (max-device-width: 1366px) and (orientation: portrait) and (min-device-width: 768px) and (orientation: portrait) {
  .top-bar-col {
    flex-direction: column;
  }
}

/*Phone Styling*/
@media screen and (max-device-width: 767px), (max-device-height: 375px) {
}

@media screen and (max-device-width: 767px) and (orientation: portrait),
  (max-device-height: 375px) and (orientation: portrait) {
}
