body {
  /* margin: 0px; */
}

h1 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Nunito Sans", sans-serif;
}

ul {
  list-style-type: none;
}

li {
  padding-left: 1em;
  text-indent: -0.7em;
}

li::before {
  content: "• ";
  color: #007dc3;
  width: 1em;
  margin-left: -1em;
  padding-right: 1em;
}

a:hover {
  text-decoration: none;
}

.row {
  margin: 50px 30px;
  padding: 20px 0;
}

.hc-logo {
  width: 88%;
}

.top-bar {
  font-size: 0.8em;
  font-weight: 500;
}

.top-bar-col {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-logos {
  display: flex;
  flex-direction: row;
}

.top-bar-col p {
  margin: 0;
}

.banner-img {
  width: 100%;
}

.banner-img-col {
  /* border: 2px solid red; */
}

.banner-text {
  margin-top: 30px;
}

.banner-text {
  color: white;
  position: absolute;
  top: 40%;
  width: 50%;
  margin: 0px 0 0 20px;
}

.banner-text h1 {
  font-size: 3em;
}

.banner-description {
  margin-top: 30px;
}

.section-header {
  color: #007dc3;
  font-size: 1.7em;
  font-family: "Nunito Sans", sans-serif;
}

.col-img {
  width: 100%;
}

.hc-logo-ball {
  width: 6em;
}

#www-logo-ball {
  width: 6%;
}

.about-us-row {
  margin-top: 80px;
}

.about-us-text {
}

.our-solutions-text {
  margin-top: 30px;
}

.our-solutions-img {
  display: flex;
  align-items: center;
}

.our-solutions-footer {
  margin-top: 30px;
  font-size: 0.8em;
}

.our-solutions-footer p {
  margin-bottom: 6px;
}

.www-text,
.case-studies-header,
.news-title {
  text-align: center;
}

.www-panel-row,
.value-prop-row,
.physician-network-row,
.case-studies-description {
  background-image: url("../images/Background-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  background-position: center;
}

.www-card {
  text-align: center;
}

.value-prop-text {
  padding-left: 1em;
}

.value-prop-text p {
  margin-top: 35px;
}

.physician-network-header {
  margin-bottom: 30px;
}

.physician-network-paragraph {
  font-size: 0.9em;
}

.physician-network-bold {
  font-size: 0.9em;
  font-weight: 800;
}

.survey-paragraph {
  font-size: 1.5em;
  font-weight: 600;
}

.case-studies-row,
.case-studies-description,
.news-title-row,
.news-banner-row {
  margin: 10px 0;
}
/* news */

.mobile-news-banner {
  display: none;
}

.link-col {
  border: 2px solid red;
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.link-img {
  width: 49%;
}

.link-text {
  /* border: 2px solid red; */
  padding-left: 0.7em;
}

.new-links {
  border: 2px solid red;
  margin: 40px 0px;
  background: light-grey;
}

.arrow-right {
  width: 10%;
  margin-left: 0.5em;
}

/* end news */

/*Tablet Styling*/
@media only screen and (max-device-width: 1366px) {
  .banner-text {
    top: 13%;
  }

  .banner-text h1 {
    font-size: 2.2em;
  }
}

@media only screen and (max-device-width: 1366px) and (orientation: portrait) and (min-device-width: 768px) and (orientation: portrait) {
  .top-bar-col {
    flex-direction: column;
  }

  .top-bar-col {
    flex-direction: column;
  }
  .banner-text h1 {
    font-size: 2.2em;
  }
  .banner-description {
    font-size: 0.9em;
  }
}

/*Phone Styling*/
@media screen and (max-device-width: 812px), (max-device-height: 375px) {
  .top-bar-col {
    flex-direction: column;
  }

  .banner-description {
    font-size: 0.9em;
  }

  .about-us-text .our-solutions-text {
    font-size: 0.75em;
  }
}

@media screen and (max-device-width: 767px) and (orientation: portrait),
  (max-device-height: 375px) and (orientation: portrait) {
  .banner-text {
    width: 60%;
    top: 8%;
  }

  .banner-text h1 {
    font-size: 1em;
  }

  .banner-description {
    margin-top: 0px;
    font-size: 7px;
  }

  .value-prop-chart {
    height: 150px;
  }

  .news-banner-row {
    display: none;
  }

  .mobile-news-banner {
    display: block;
  }
}

/* @media (max-device-width: 576px) {
}

@media (max-device-width: 768px) {
}

@media (max-device-width: 992px) {
  .top-bar-col {
    flex-direction: column;
  }

  .top-bar-col {
    flex-direction: column;
  }
  .banner-text h1 {
    font-size: 2em;
  }
  .banner-text {
    top: 13%;
  }
}

@media (max-device-width: 1200px) {
  .top-bar-col {
    flex-direction: column;
  }
} */
