body {
  margin: 0px;
  overflow-x: hidden;
}

h1 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Nunito Sans", sans-serif;
}

ul {
  list-style-type: none;
}

li {
  padding-left: 1em;
  text-indent: -0.7em;
}

a:hover {
  text-decoration: none;
}

input::-webkit-input-placeholder {
  color: #fff !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important;
}

input:-ms-input-placeholder {
  color: #fff !important;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  overflow-x: hidden;
}

.row {
  margin: 50px 15px;
  padding: 20px 0;
}

.hc-logo {
  width: 88%;
}

.top-bar {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0px 15px;
}

.top-bar-col {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
}

.header-logos,
.header-numbers,
.header-address,
.email-address {
  margin-left: 10px;
}

.header-logos {
  /* display: flex;
  flex-direction: row; */
}

.header-twitter {
  height: 29px;
}

.top-bar-col p {
  margin: 0;
}

.banner-row {
  margin: 0px -15px;
  padding: 6px 0;
}

.banner-img {
  width: 100%;
}

.banner-img-col,
.footer-container {
  padding: 0 !important;
}

.banner-text {
  margin-top: 30px;
}

.banner-text {
  color: white;
  position: absolute;
  top: 40%;
  width: 50%;
  margin: 0px 0 0 40px;
}

.banner-text h1 {
  font-size: 3em;
}

.banner-description {
  margin-top: 30px;
}

.section-header {
  color: #007dc3;
  font-size: 1.7em;
  font-family: "Nunito Sans", sans-serif;
}

.col-img {
  width: 100%;
}

.hc-logo-ball {
  width: 6em;
}

#www-logo-ball {
  width: 6%;
}

.about-us-row {
  margin-top: 80px;
}

.about-us-text {
}

.about-us-list li::before {
  content: "• ";
  color: #007dc3;
  width: 1em;
  margin-left: -1em;
  padding-right: 1em;
}

.our-solutions-text {
  margin-top: 30px;
}

.solutions-quote {
  text-align: center;
  font-style: italic;
}

.our-solutions-img {
  display: flex;
  align-items: center;
}

.our-solutions-footer {
  margin-top: 30px;
  font-size: 0.8em;
}

.our-solutions-footer p {
  margin-bottom: 6px;
}

.text-center h1 {
  margin-bottom: 30px;
}

.left {
  width: 68%;
  text-align: left;
  margin: 0 auto;
}

.www-panel-row,
.value-prop-row,
.physician-network-row,
.case-studies-row {
  background-image: url("../images/Background-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  background-position: center;
}

.www-panel-row {
  margin: 0px 15px;
}

.www-card {
  text-align: center;
}

.value-prop-text {
  padding-left: 1em;
}

.value-prop-text p {
  margin-top: 26px;
}

.physician-network-header {
  margin-bottom: 30px;
}

.physician-network-paragraph {
  font-size: 0.9em;
}

.physician-network-bold {
  font-size: 0.9em;
  font-weight: 800;
}

.survey-paragraph {
  font-size: 1.5em;
  font-weight: 600;
}

.news-row,
.client-value-row,
.pld-row,
.reporting-row,
.testimonials-row {
  margin: 20px 0;
}

.case-studies-row,
.case-studies-header {
  margin: 0;
}
/* news */

.mobile-news-banner {
  display: none;
}

.link-col {
  background: #fff;
  display: flex;
  align-items: center;
  flex: 0 0 31.333333%;
  max-width: 31.333333%;
  margin: 0 6px;
  padding: 5px 0px;
  box-shadow: 6px 0px 14px -3px grey;
}

.link-img {
  width: 49%;
}

.link-text {
  /* border: 2px solid red; */
  padding-left: 0.7em;
}

.link-text p {
  font-size: 0.75em;
  font-weight: 600;
}

.news-links {
}

.read-more-link {
  font-size: 0.6em;
}

.arrow-right {
  width: 8%;
  margin-top: 0.2em;
  margin-left: 0.5em;
}

/* end news */

/* client value */
.client-value-text {
  width: 68%;
  margin: 0 auto;
  font-size: 1.1em;
}

.blue {
  color: #007dc3;
  font-size: 1.9em;
}

.pld-row {
  margin: 0 auto;
  width: 68%;
}

.pld-text {
  font-size: 1.2em;
}

.reporting-row {
  margin: 0 auto;
  width: 75%;
  font-size: 1.3em;
  font-weight: 700;
}

.reporting-paragraph {
  font-size: 0.9em;
  font-weight: 100;
  margin-bottom: 28px;
}

.reporting-quote {
  position: absolute;
  width: 10%;
}

.left-quote {
  left: -10%;
  top: 26%;
}

.right-quote {
  right: -4%;
}

.reporting-footer {
  font-size: 1.2em;
  text-align: center;
}

.news-title p {
  font-size: 1.2em;
}

/* end client value */

.testimonials-blurb-1,
.testimonials-blurb-2 {
  width: 80%;
  font-weight: 700;
  padding-left: 40px;
}

.testimonials-blurb-3 {
  font-weight: 700;
}

.testimonials-blurb-2 {
  font-weight: 700;
}

.testimonials-quote {
  position: absolute;
  width: 1em;
}

#testimonials-left-quote-1,
#testimonials-left-quote-2 {
  top: -10%;
  left: 4%;
}

#testimonials-right-quote-1 {
  right: 23%;
}

#testimonials-right-quote-2 {
  right: 19%;
}

#testimonials-left-quote-3,
#testimonials-right-quote-3 {
  position: relative;
  width: 1em;
}

#testimonials-left-quote-3 {
  left: -1%;
}

#testimonials-right-quote-3 {
  right: -1%;
}

.testimonials-quoter {
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  padding: 0 66px;
}

.our-partners-row {
  font-size: 1.3em;
}

.card-footer {
  font-family: "Nunito Sans", sans-serif;
  background: #007dc3;
  color: #fff;
  width: 100%;
}

.footer-row {
  padding-bottom: 5rem;
}

.footer-info p {
  margin-bottom: 0px;
}

.border-right {
  border-right: 1px solid black;
}

.footer-column-1 {
  font-size: 0.8em;
}

.footer-copyright {
  font-size: 0.75em;
}

.form-control {
  height: 40px;
  background: #007dc3;
  color: #fff;
  border-color: #ffffff;
  border-radius: 0;
}

.input-group-btn .btn {
  background-color: white;
}

/* sidebar */

.form-control:focus {
  box-shadow: none;
  background: #007dc3;
  color: white;
}
.btn {
  min-height: 40px;
  border-radius: 0;
  color: #007dc3;
}
.btn-info {
  background-color: #007dc3;
  border: none;
}

.btn-info:hover {
  background-color: #007dc3;
}

.btn-info:not(:disabled):not(.disabled):active {
  background-color: #007dc3;
}

.wrapper {
  display: flex;
  width: 100%;
  width: 250px;
  position: absolute;
  top: 0;
  right: -250px;
  padding: 0;
  text-align: left;
  z-index: 1000;
}

.close-sidebar {
  display: none;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 999;
  background: #007dc3;
  color: #fff;
  transition: all 0.3s;
}

#sidebar ul {
  list-style-type: none;
}

#sidebar ul li {
  text-align: center;
}

#sidebar ul li:hover {
  background: #29abe2;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul li a {
  padding: 20px;
  font-size: 1.1em;
  display: block;
  color: #fff;
}
#sidebar ul li a:hover {
  background: #29abe2;
}

#content .navbar {
  top: 140px;
  right: 100px;
  border-right: 40px solid #007dc3;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  height: 275px;
  width: 100px;
}

#sidebarCollapse {
  position: absolute;
  width: 10px;
  left: 100%;
}
#sidebarCollapse .hamburger {
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

#content {
  height: 44px;
}

.btn-info:focus {
  background-color: #007dc3;
}

.mobile-landscape-text {
  display: none;
}

.mobile-landscape-img {
  display: none;
}

/* end sidebar */
/*Tablet Styling*/
@media only screen and (max-device-width: 1366px) {
  .header-logos {
    display: flex;
  }

  .banner-text {
    top: 13%;
  }

  .banner-text h1 {
    font-size: 2.2em;
  }

  .top-bar img {
    margin-right: 1em;
  }

  .footer-column-1 {
    font-size: 0.7em;
  }
}

@media only screen and (max-device-width: 1366px) and (orientation: portrait) and (min-device-width: 768px) and (orientation: portrait) {
  .top-bar-col {
    /* flex-direction: column; */
  }

  .banner-text h1 {
    font-size: 2.2em;
  }
  .banner-description {
    font-size: 0.9em;
  }
}

/*Phone Styling*/
@media screen and (max-device-width: 812px), (max-device-height: 375px) {
  .top-bar {
    margin: 0 8px;
    font-size: 0.6em;
  }

  .row {
    margin-bottom: 10px;
  }

  .banner-description {
    font-size: 0.9em;
  }

  .about-us-text .our-solutions-text {
    font-size: 0.75em;
  }

  .aboutus-img-col {
    top: -12px;
  }

  .text-center h1 {
    margin-bottom: 13px;
  }

  /* .our-solutions-img,
  .physician-network-img {
    height: 260px;
  } */

  .left-quote {
    top: 33%;
  }

  #www-logo-ball {
    width: 6em;
  }

  .blue {
    margin-top: -3px;
  }

  .testimonials-row-1 {
    margin-bottom: -40px;
  }

  .second-sentence {
    white-space: nowrap;
  }

  #testimonials-left-quote-1,
  #testimonials-left-quote-2 {
    top: -1%;
    left: 8%;
  }

  #testimonials-right-quote-1 {
    right: 35%;
  }

  #testimonials-right-quote-2 {
    right: 30%;
  }

  /* #testimonials-left-quote-1 {
    left: 10%;
  } */

  #sidebar {
    top: 32%;
  }

  #sidebar.active {
    min-width: unset;
    max-width: unset;
    width: 830px;
    margin-left: -815px;
    opacity: 0.9;
    top: 0;
  }

  #sidebar ul li a {
    padding: 10px 0;
    border-bottom: 1px solid white;
    width: 42%;
    margin-left: 30%;
  }

  #content .navbar {
    top: 4.5em;
    height: 51px;
    border-top: 0;
    border-bottom: 0;
  }

  .close-sidebar {
    display: block;
    position: absolute;
    right: 20%;
    top: 12%;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #29abe2;
    text-align: center;
    font-size: 2em;
    line-height: 0.5;
  }

  .about-us-img {
    margin-top: 96px;
  }

  .mobile-landscape-text {
    display: block;
    text-align: center;
  }

  .mobile-landscape-img {
    display: block;
    padding-top: 11%;
  }

  .mobile-about {
    margin: 20px auto;
    text-align: left;
  }

  .standard-text-block {
    display: none;
  }
}

@media screen and (max-device-width: 767px) and (orientation: portrait),
  (max-device-height: 375px) and (orientation: portrait) {
  h1 {
    text-align: center;
  }

  .top-bar-col {
    flex-direction: column;
    margin: 5px 0px;
    justify-content: center;
    width: 34%;
  }

  .top-bar img {
    padding-bottom: 10px;
  }

  .hc-logo {
    width: 150px;
  }

  .hc-logo-ball {
    margin: 0 auto;
    display: flex;
  }

  .header-logos {
    display: block;
  }

  .header-twitter {
    height: 38px;
  }

  .address-column {
    width: 30%;
  }

  .banner-text {
    width: 45%;
    top: 28%;
  }

  .banner-text h1 {
    font-size: 1em;
  }

  .banner-description {
    margin-top: 0px;
    font-size: 7px;
  }

  .value-prop-chart {
    height: 150px;
  }

  .about-us-row,
  .value-prop-row,
  .physician-network-row {
    flex-direction: column-reverse;
  }

  .client-value-text {
    width: 100%;
  }

  .news-row {
    display: none;
  }

  .news-banner-col,
  .mobilenews-banner-col {
    padding: 0;
  }

  .mobile-news-banner {
    display: block;
    margin: 0px 0px;
  }

  .left-quote {
    top: 36%;
  }

  .link-col {
    flex: unset;
    max-width: unset;
    margin: 12px 6px;
  }

  .news-title {
    margin-bottom: -40px;
  }

  .news-links {
    margin: 0;
  }

  .testimonials-blurb-1,
  .testimonials-blurb-2 {
    text-align: center;
  }

  #testimonials-left-quote-1 {
    left: 12%;
  }

  #testimonials-right-quote-1 {
    right: 30%;
  }

  #testimonials-right-quote-2 {
    right: 32.5%;
  }

  .link-img {
    width: 35%;
  }

  .partners-logo-row1,
  .partners-logo-row2 {
    margin: 0;
  }

  .partner-column {
    width: 25%;
  }

  .footer-column-1,
  .footer-column-2 {
    margin-bottom: 35px;
  }

  .footer-column-1 {
    font-size: 1em;
  }

  #logo {
    width: 67px;
  }

  #content .navbar {
    top: 0;
  }

  #sidebar {
    top: 1%;
  }

  #sidebar.active {
    margin-left: -375px;
    width: 100%;
  }

  .close-sidebar {
    top: 7%;
  }

  .standard-text-block {
    display: block;
  }

  .mobile-landscape-text {
    display: none;
  }

  .mobile-landscape-img {
    display: none;
  }
}
